<%- include("./partials/header.ejs") %>

<main>
    <div class="soccer-field free-move">

    </div>
    <div class="soccer-players ordened-move">
        <% team.Players.forEach(item => { %>
            <div id="<%= item.id %>" <%= "style=order:" + item.number + ";" %>  class="player ordened-element element-movable ui-widget-content">
                <div class="player-shirt">
                    <span class="number-shirt"><%= item.number %></span>
                </div>
                <div class="player-name">
                    <span class="name-of-player"><%= item.name %></span>
                </div>
            </div>
        <% }) %>
    </div>
</main>

<%- include("./partials/footer.ejs") %>
